@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Arima:wght@100..700&family=Arizonia&family=Bebas+Neue&family=Birthstone+Bounce:wght@400;500&family=Charmonman:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teachers:ital,wght@0,400..800;1,400..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Water+Brush&display=swap');

/*  font-family: "Inter", sans-serif; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #187cff;
  }
  a{
    text-decoration: none;
   
  }



.custom-container {
  max-width: 1390px;
  margin: 0 auto;
}
.px-custom {
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 767px) {
  .circle-text{
    padding-top: 150px ;
    padding-bottom: 150px;
  }
  
 
 
 
}

@media (max-width: 768px) {
  .px-custom {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.nav-bar {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.nav-link {
  padding-right: 30px !important;
  padding-left: 20px;
  font-size: 14px !important;
}
.person {
  border-radius: 50px !important;
  border: 1px solid black !important;
}
.role {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  margin-right: 10px !important;
}
.role1 {
  border-top-right-radius: 8px !important;
}
.role2 {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.role3 {
  border-top-left-radius: 8px !important;
}
.cmnt-text{
  color: #606060;
  font-size: 13px;
}

.top-bar {
  background: #dff1ff;
  font-size: 14px;
  padding-top: 27px !important;
  padding-bottom: 27px !important;
}
.social-icons a {
  color: black;
  margin-left: 10px;
}
.property-title {
  font-weight: bold;
  font-size: 24px;
}
.property-meta i {
  margin-right: 5px;
}
.property-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* prop img */
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-row {
  padding-bottom: 100px;
}

@media (min-width: 992px) {
  .gallery-row {
    height: 600px; /* Set your desired row height here */
  }
}
@media (min-width: 1199px) {
 .circle-text{
 
 }
}

.h-50 {
  height: 50%;
}

/*  */
.sticky-agent {
  position: sticky;
  top: 20px;
}
.card-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.circle-text {
  padding-top: 230px ;
  padding-bottom: 200px ;
}

.circle-container {
  background-image: url("../images/circle.png");

  /* max-width: 100%; */
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  object-fit: cover;
}
.circle-container span {
  font-size: 24px;
  font-weight: bold;
}
input,
textarea {
  border: 1px solid #007bff;
}
/* h2::after{
    content: "";
    width: 15%;
    height: 10px;
    background-color: maroon;
    position: absolute;
    bottom: -5px;
    box-shadow: 0 10px 0 yellow;
    left: 50%;
    transform: translateX(-50%);
} */
.legend-box {
      display: inline-block;
      width: 20px;
      height: 4px;
      /* border-radius: 10px; */
    }

    .legend-1 {
      background-color: #2e6be6;
    }

    .legend-2 {
      background-color: #98b9e3;
    }

    .legend-3 {
      background-color: #0057e7;
    }

/* neighbour ood data */

.rating-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid #007bff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.rating-circle::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background: white;
  border-radius: 50%;
}

.rating-icon {
  position: relative;
  font-size: 24px;
  z-index: 1;
  color: #007bff;
}
.collage {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.contact-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background: white;
}

.comment {
  /* border-top: 1px solid #ddd; */
  padding-top: 20px;
  margin-top: 20px;
}

.form-control,
.btn {
  border-radius: 8px;
}

.stars {
  color: gold;
}
.footer {
  background-color: #fff;
  color: #000;
  padding-top: 60px;
  font-family: 'Segoe UI', sans-serif;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.foot-logo img{

max-width: 82px !important;
/* height: 35px; */
  width: 100%;
}
.logo-black1 img{
  
    max-width: 190px;
    width: 100%;

}

.footer .footer-logo {
  font-weight: 700;
  font-size: 24px;
}
.footer-logo{
  max-width: 170px;
  width: 100%;
}

.footer .footer-section h5 {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-bottom {
  background: #000;
  color: #fff;
  padding: 15px 0px ;
  font-size: 14px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social-icons a {
  font-size: 18px;
  margin-right: 10px;
  color: #000;
}
.foot-para{
  margin-bottom: 30px !important;
}

.subscribe-input {
  border-radius: 8px 0 0 8px;
}

.subscribe-btn {
  border-radius: 0 8px 8px 0;
}
.app-logo{
  max-width: 172px !important;
  width: 100%;
}

@media (max-width: 768px) {
  .foot-play img {
    max-width: 120px;
    width: 100%;
    margin-bottom: 10px;
  }
  .foot-app img {
    max-width: 120px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px !important;
  }
  .help-contact{
    margin-bottom: 30px;
  }
  .trusted-logos img{
    max-width: 95px;
    width: 100%;
    max-height: 40px;
  }
  
}
.foot-logo img{

max-width: 82px !important;
/* height: 35px; */
  width: 100%;
}
.nav-link{
  text-transform: capitalize !important;
  font-weight: 600 !important;
}
.active{
  color:var(--primary)  !important ;
}
.nav-link:hover{
  color: var(--primary) !important;
}
.top-logo{
    width: 40px;
    height: 40px;

}